.section {
  margin: 40px;
  width: 500px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  h2 {
    width: fit-content;
    margin: 0 0 6px 30px;
    padding: 0 10px 4px;
    font-size: 24px;
    color: rgb(135, 12, 48);
    background-color: rgba(193, 77, 112, 0.305);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  &-header {
    border: solid rgb(81, 7, 29);
    border-radius: 20px;
    padding-left: 20px;
    margin-bottom: 2px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    border-radius: 20px;
    background-color: rgb(255, 202, 211);
    .add-contact__button {
      margin: 6px 0 20px 30px;
      border: double rgb(76, 0, 23);
      background-color: rgba(255, 255, 255, 0.7);
      font-size: 12px;
      border-radius: 50px;
      height: 24px;
      width: 64px;
      cursor: pointer;
      &:active {
        border: solid rgb(123, 12, 45);
        background-color: rgba(193, 77, 112, 0.458);
      }
    }
  }
  &-body {
    min-height: 120px;
    border: solid rgb(81, 7, 29);
    border-radius: 20px;
    padding-left: 20px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    border-radius: 20px;
    background-color: rgb(255, 202, 211);
    font-size: 20px;
    &__contacts-list {
      padding-left: 20px;
      width: 80%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      &__item {
        margin-bottom: 8px;
        display: flex;
        justify-content: space-between;
        &__remove-contact__button {
          border: double rgb(76, 0, 23);
          background-color: rgba(255, 255, 255, 0.7);
          font-size: 10px;
          border-radius: 50px;
          height: 24px;
          width: 64px;
          cursor: pointer;
          &:active {
            border: solid rgb(123, 12, 45);
            background-color: rgba(193, 77, 112, 0.458);
          }
        }
      }
    }
  }
}
